* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
  background-color: #222;
  color: #fff;
}
.panels{
  display: flex;
  flex-direction: column;
}
.container {
  display: flex;
  justify-content: space-between;
  margin: 50px auto;
  max-width: 900px;
}

.settings-container {
  width: 60%;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.password-requirements {
  width: 35%;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #333;
}

.password-requirements h3 {
  color: #fff;
  margin-bottom: 15px;
}

.password-requirements ul {
  list-style-type: none;
  padding: 0;
}

.password-requirements li {
  margin-bottom: 10px;
  color: #fff;
}

.icon {
  margin-right: 10px;
}
